social-soap/src/main/webapp/WEB-INF/xsd/SocialWebService.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
            xmlns="http://epam.com/brest/course2015/social/soap"
            xmlns:socialDto="http://epam.com/brest/course2015/social/dto"
            targetNamespace="http://epam.com/brest/course2015/social/soap"
            elementFormDefault="qualified">
<xs:import namespace="http://epam.com/brest/course2015/social/dto" schemaLocation="SocialDto.xsd"/>

    <xs:element name="getAllUsers" type="getAllUsers"/>

    <xs:element name="getAllUsersResponse" type="getAllUsersResponse"/>

    <xs:element name="sayHello" type="sayHello"/>

    <xs:element name="sayHelloResponse" type="sayHelloResponse"/>

    <xs:complexType name="getAllUsers">
        <xs:sequence/>
    </xs:complexType>

    <xs:complexType name="getAllUsersResponse">
        <xs:sequence>
            <xs:element name="return" type="socialDto:socialDto" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="sayHello">
        <xs:sequence></xs:sequence>
    </xs:complexType>

    <xs:complexType name="sayHelloResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>